
@{
    ViewBag.Title = "Index";
}

<!-- Ventana - Modulo Sistemas -->
<div class="col-md-9">

    <div class="col-md-6">
        <div class="box box-solid box-default">
            <div class="box-header with-border">
                <i class="fa fa-laptop"></i>
                <h3 class="box-title">Modulo de Sistemas</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <h4>Lorem ipsum</h4>
            </div>
            <div class="box-footer">
                <form action="#" method="post"></form>
            </div>
        </div>
    </div>
    <!-- Ventana - Modulo Sistemas -->
    <!-- Ventana - Modulo Compras -->
    <div class="col-md-6">
        <div class="box box-solid box-primary">
            <div class="box-header with-border">
                <i class="fa fa-shopping-cart"></i>
                <h3 class="box-title">Modulo de Compras</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <h4>Lorem ipsum</h4>
            </div>
            <div class="box-footer">
                <form action="#" method="post"></form>
            </div>
        </div>
    </div>
    <!-- Ventana - Modulo Compras  -->
    <!-- Ventana - Modulo Ventas -->
    <div class="col-md-6">
        <div class="box box-solid box-primary">
            <div class="box-header with-border">
                <i class="fa fa-line-chart"></i>
                <h3 class="box-title">Modulo de Ventas</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <h4>Lorem ipsum</h4>
            </div>
            <div class="box-footer">
                <form action="#" method="post"></form>
            </div>
        </div>
    </div>
    <!-- Ventana - Modulo Ventas  -->
    <!-- Ventana - Modulo Caja -->
    <div class="col-md-6">
        <div class="box box-solid box-default">
            <div class="box-header with-border">
                <i class="fa fa-sitemap"></i>
                <h3 class="box-title">Modulo de Caja</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <h4>Lorem ipsum</h4>
            </div>
            <div class="box-footer">
                <form action="#" method="post"></form>
            </div>
        </div>
    </div>
    <!-- Ventana - Modulo Caja  -->
    <!-- Ventana - Modulo Almacen -->
    <div class="col-md-6">
        <div class="box box-solid box-default">
            <div class="box-header with-border">
                <i class="glyphicon glyphicon-list-alt"></i>
                <h3 class="box-title">Modulo de Almacen</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <h4>Lorem ipsum</h4>
            </div>
            <div class="box-footer">
                <form action="#" method="post"></form>
            </div>
        </div>
    </div>
    <!-- Ventana - Modulo Almacen  -->
    <!-- Ventana - Modulo Reportes -->
    <div class="col-md-6">
        <div class="box box-solid box-primary">
            <div class="box-header with-border">
                <i class="glyphicon glyphicon-list-alt"></i>
                <h3 class="box-title">Modulo de Reportes</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <h4>Lorem ipsum</h4>
            </div>
            <div class="box-footer">
                <form action="#" method="post"></form>
            </div>
        </div>
    </div>
    <!-- Ventana - Modulo Reportes  -->
</div>






<div class="col-md-3">

    <!-- Profile Image -->
    <div class="box box-primary">
        <div class="box-body box-profile">
            <img class="profile-user-img img-responsive img-circle" src="Content/dist/img/logo.jpg" alt="User profile picture">

            <h3 class="profile-username text-center">Dario Vaez</h3>
            <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                    <p class="text-muted text-center">ERP</p>


                    <b>Followers</b> <a class="pull-right">1,322</a>
                </li>
                <li class="list-group-item">
                    <b>Following</b> <a class="pull-right">543</a>
                </li>
                <li class="list-group-item">
                    <b>Friends</b> <a class="pull-right">13,287</a>
                </li>
            </ul>

            <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
    <!-- About Me Box -->
    <!-- /.box -->
</div>





